In [1]:
# Initial imports
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
from pathlib import Path
import requests

%matplotlib inline

In [7]:
BA_csv = Path("../ASD_Data/BA_DATA.csv")

In [8]:
BA_df = pd.read_csv(BA_csv, index_col='Date', infer_datetime_format=True, parse_dates=True)

In [9]:
BA_df.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2011-06-30  73.000000  74.099998  72.900002  73.930000  59.705540  4245300
2011-07-01  73.809998  74.730003  73.800003  74.269997  59.980122  3647800
2011-07-05  74.169998  74.730003  73.849998  74.150002  59.883221  3130300
2011-07-06  74.129997  75.160004  74.010002  74.739998  60.359699  3757800
2011-07-07  75.330002  76.199997  74.849998  75.989998  61.369186  4976900

In [10]:
BA_df.sort_index(ascending=True, inplace=True)

In [11]:
BA_df = BA_df.rename(columns={'Close': 'Close'})
BA_df = BA_df[['Close']]
BA_df

                 Close
Date
2011-06-30   73.930000
2011-07-01   74.269997
2011-07-05   74.150002
2011-07-06   74.739998
2011-07-07   75.989998
...                ...
2021-06-24  250.570007
2021-06-25  248.380005
2021-06-28  239.960007
2021-06-29  235.759995
2021-06-30  239.559998

[2517 rows x 1 columns]

In [ ]:
# Read in api keys

# Alpaca API for stock data 
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
tradeapi = tradeapi.REST(alpaca_api_key, alpaca_secret_key,api_version="v2")

# News API for articles 
from newsapi import NewsApiClient
#load_dotenv()
api_key = os.getenv("news_api")
newsapi = NewsApiClient(api_key=news_key)

In [2]:


# Select the stocks to include in the investment portfolio 
tickers = [""]
# Retrieve the historical stock data by utilizing the Alpaca API 
# Set start and end dates between 1/1/2018 and now
start_date = pd.Timestamp("2018-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-06-30", tz="America/New_York").isoformat()

hist_returns = api.get_barset(
    tickers, 
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

hist_close = 

hist_daily_returns = hist_close.pct_change().dropna()

In [ ]:
# Fetch the Aero-Defense Industrial Company news articles and articles specific to top 3 companies (Raytheon, Boeing, Lockheed-Martin) 

# Aero-Defense 
aerod_articles = newsapi.get_everything(q="aero-defense", language="en", page_size=100, sort_by="relevancy")

# Raytheon 
RT_articles = newsapi.get_everything(q="raytheon", language="en", page_size=100, sort_by="relevancy")

# Boeing
b_articles = newsapi.get_everything(q="boeing", language="en", page_size=100, sort_by="relevancy")

# Lockheed-Martin
LHM_articles = newsapi.get_everything(q="lockheed-martin", language="en", page_size=100, sort_by="relevancy")