In [1]:
# Import the API key for FMP
import os
import pandas as pd
from dotenv import load_dotenv
load_dotenv()
fmp_key = os.getenv("FMP_Key")

In [2]:
from urllib.request import urlopen
import json

In [3]:
url = ("https://financialmodelingprep.com/api/v3/quote/CAT?apikey=")

cat_prices_url = url + fmp_key
print(cat_prices_url)

https://financialmodelingprep.com/api/v3/quote/CAT?apikey=30f38fe4adae4904fc1497cf7bea1fca

In [4]:
def get_jsonparsed_data(url):
    response = urlopen(url)
    data = response.read().decode("utf-8")
    return json.loads(data)

In [5]:
# Set the random seed for reproducibility
# Note: This is used for model prototyping, but it is good practice to comment this out and run multiple experiments to evaluate your model.
from numpy.random import seed

seed(1)
from tensorflow import random

random.set_seed(2)

In [6]:
cat_data = get_jsonparsed_data(cat_prices_url)

In [7]:
from pprint import pprint
pprint(cat_data)

[{'avgVolume': 3462014,
  'change': -3.03,
  'changesPercentage': -1.38,
  'dayHigh': 221.57,
  'dayLow': 215.28,
  'earningsAnnouncement': '2021-04-29T06:30:00.000+0000',
  'eps': 6.254,
  'exchange': 'NYSE',
  'marketCap': 118491807744.0,
  'name': 'Caterpillar Inc.',
  'open': 221.18,
  'pe': 34.587463,
  'previousClose': 219.34,
  'price': 216.31,
  'priceAvg200': 214.33124,
  'priceAvg50': 231.91342,
  'sharesOutstanding': 547787008,
  'symbol': 'CAT',
  'timestamp': 1624722792,
  'volume': 11263933,
  'yearHigh': 246.69,
  'yearLow': 123.28}]

In [8]:
cat_df = pd.DataFrame(cat_data).set_index("symbol")
cat_df.head()

,name,price,changesPercentage,change,dayLow,dayHigh,yearHigh,yearLow,marketCap,priceAvg50,...,volume,avgVolume,exchange,open,previousClose,eps,pe,earningsAnnouncement,sharesOutstanding,timestamp
symbol,,,,,,,,,,,,,,,,,,,,,
CAT,Caterpillar Inc.,216.31,-1.38,-3.03,215.28,221.57,246.69,123.28,1.184918e+11,231.91342,...,11263933,3462014,NYSE,221.18,219.34,6.254,34.587463,2021-04-29T06:30:00.000+0000,547787008,1624722792

In [9]:
cat_df = cat_df.drop(['name', 'marketCap','volume','avgVolume','exchange','eps','pe','earningsAnnouncement','sharesOutstanding','timestamp'],axis=1)
cat_df.head()

,price,changesPercentage,change,dayLow,dayHigh,yearHigh,yearLow,priceAvg50,priceAvg200,open,previousClose
symbol,,,,,,,,,,,
CAT,216.31,-1.38,-3.03,215.28,221.57,246.69,123.28,231.91342,214.33124,221.18,219.34

In [13]:
url2 = ("https://financialmodelingprep.com/api/v3/quote/DE?apikey=")

de_prices_url = url2+ fmp_key
print(de_prices_url)

https://financialmodelingprep.com/api/v3/quote/DE?apikey=30f38fe4adae4904fc1497cf7bea1fca

In [14]:
url3 = ("https://financialmodelingprep.com/api/v3/quote/HON?apikey=")

hon_prices_url = url3+ fmp_key
print(hon_prices_url)

https://financialmodelingprep.com/api/v3/quote/HON?apikey=30f38fe4adae4904fc1497cf7bea1fca

In [15]:
de_data = get_jsonparsed_data(de_prices_url)
hon_data = get_jsonparsed_data(hon_prices_url)

In [17]:
de_df = pd.DataFrame(de_data).set_index("symbol").drop(['name', 'marketCap','volume','avgVolume','exchange','eps','pe','earningsAnnouncement','sharesOutstanding','timestamp'],axis=1)
de_df.head()

,price,changesPercentage,change,dayLow,dayHigh,yearHigh,yearLow,priceAvg50,priceAvg200,open,previousClose
symbol,,,,,,,,,,,
DE,349.99,-0.18,-0.63,347.83,355.8568,400.34,150.32,357.41714,336.47797,354.09,350.62

In [18]:
hon_df = pd.DataFrame(hon_data).set_index("symbol").drop(['name', 'marketCap','volume','avgVolume','exchange','eps','pe','earningsAnnouncement','sharesOutstanding','timestamp'],axis=1)
hon_df.head()

,price,changesPercentage,change,dayLow,dayHigh,yearHigh,yearLow,priceAvg50,priceAvg200,open,previousClose
symbol,,,,,,,,,,,
HON,218.74,0.48,1.05,217.49,220.17,234.02,139.28,224.20314,215.24747,217.87,217.69

In [23]:
machinery_df = pd.concat([cat_df, de_df, hon_df])
machinery_df.head()

,price,changesPercentage,change,dayLow,dayHigh,yearHigh,yearLow,priceAvg50,priceAvg200,open,previousClose
symbol,,,,,,,,,,,
CAT,216.31,-1.38,-3.03,215.28,221.5700,246.69,123.28,231.91342,214.33124,221.18,219.34
DE,349.99,-0.18,-0.63,347.83,355.8568,400.34,150.32,357.41714,336.47797,354.09,350.62
HON,218.74,0.48,1.05,217.49,220.1700,234.02,139.28,224.20314,215.24747,217.87,217.69

In [22]:
machinery_df.transpose()

symbol                   CAT         DE        HON
price              216.31000  349.99000  218.74000
changesPercentage   -1.38000   -0.18000    0.48000
change              -3.03000   -0.63000    1.05000
dayLow             215.28000  347.83000  217.49000
dayHigh            221.57000  355.85680  220.17000
yearHigh           246.69000  400.34000  234.02000
yearLow            123.28000  150.32000  139.28000
priceAvg50         231.91342  357.41714  224.20314
priceAvg200        214.33124  336.47797  215.24747
open               221.18000  354.09000  217.87000
previousClose      219.34000  350.62000  217.69000